/* Coolors Exported Palette - https://coolors.co/4e5a60-a4c5de-649cc6-303a46-ebe6e6 */

/* CSS HEX */
--black-coral: #4E5A60ff;
--pale-cerulean: #A4C5DEff;
--cerulean-frost: #649CC6ff;
--charcoal: #303A46ff;
--platinum: #EBE6E6ff;

/* CSS HSL */
--black-coral: hsla(200, 10%, 34%, 1);
--pale-cerulean: hsla(206, 47%, 76%, 1);
--cerulean-frost: hsla(206, 46%, 58%, 1);
--charcoal: hsla(213, 19%, 23%, 1);
--platinum: hsla(0, 11%, 91%, 1);

/* SCSS HEX */
$black-coral: #4E5A60ff;
$pale-cerulean: #A4C5DEff;
$cerulean-frost: #649CC6ff;
$charcoal: #303A46ff;
$platinum: #EBE6E6ff;

/* SCSS HSL */
$black-coral: hsla(200, 10%, 34%, 1);
$pale-cerulean: hsla(206, 47%, 76%, 1);
$cerulean-frost: hsla(206, 46%, 58%, 1);
$charcoal: hsla(213, 19%, 23%, 1);
$platinum: hsla(0, 11%, 91%, 1);

/* SCSS RGB */
$black-coral: rgba(78, 90, 96, 1);
$pale-cerulean: rgba(164, 197, 222, 1);
$cerulean-frost: rgba(100, 156, 198, 1);
$charcoal: rgba(48, 58, 70, 1);
$platinum: rgba(235, 230, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-right: linear-gradient(90deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-bottom: linear-gradient(180deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-left: linear-gradient(270deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-top-right: linear-gradient(45deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-bottom-right: linear-gradient(135deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-top-left: linear-gradient(225deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-bottom-left: linear-gradient(315deg, #4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);
$gradient-radial: radial-gradient(#4E5A60ff, #A4C5DEff, #649CC6ff, #303A46ff, #EBE6E6ff);