@import "../global.scss";

.about {
  height: 100%;
  position: relative;

  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;

    .left {
      height: 75%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 0.5rem groove $black-coral;

      .name,
      .frame {
        font-family: "GilamBold", sans-serif;
        font-size: 10rem;
        color: $charcoal;
      }

      .frame {
        height: 5rem;
        overflow: hidden;
        font-size: 5rem;
        display: flex;

        .subframe-1 {
          height: 100%;
          animation: shift-fast 10s ease infinite alternate;

          > * {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }

        .subframe-2 {
          height: 100%;
          animation: shift-med 10s ease infinite alternate;

          > * {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .right {
      height: 100%;
      width: 100%;
    }
  }
}

@keyframes shift-fast {
  0% {
    transform: translateY(0rem);
  }

  45% {
    transform: translateY(0rem);
  }

  55% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(-5rem);
  }
}

@keyframes shift-med {
  0% {
    transform: translateY(0rem);
  }

  40% {
    transform: translateY(0rem);
  }

  60% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(-5rem);
  }
}
