@import "../global.scss";

.about {
  height: 100%;
  position: relative;

  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;

    .left {
      height: 75%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "GilamBold", sans-serif;
      font-size: 10rem;
      border-right: 0.5rem groove $black-coral;
      color: $charcoal;
    }

    .right {
      height: 100%;
      width: 100%;
    }
  }
}
