@import "../global.scss";

.contact {
  width: 100%;
  height: 100%;
  background-color: $platinum;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include screen-large {
    flex-direction: column;
  }

  .anchor {
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-$navbar-height);
    opacity: 0;
  }

  .title {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: -0.8rem;
    color: $charcoal;
    margin-bottom: 10rem;

    @include screen-large {
      margin-bottom: 0;
      font-size: 5rem;
      letter-spacing: -0.6rem;

      // &:nth-of-type(3) {
      //   display: none;
      // }
    }

    @include screen-xlarge {
      font-size: 6rem;
    }

    @include screen-small {
      font-size: 4rem;
    }
  }

  form {
    flex: 1;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    .form-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      label {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      label,
      input {
        margin-top: 0.3rem;
        width: 50rem;
        height: 5rem;
        font-size: 2rem;
        color: $charcoal;

        @include screen-large {
          font-size: 1.8rem;
          height: 3rem;
          width: MIN(90vw, 50rem);
        }
      }

      input {
        padding-left: 1rem;

        &:focus {
          outline: none;
        }
      }

      textarea {
        width: 50rem;
        height: 20rem;
        font: inherit;
        font-size: 2rem;
        color: $charcoal;
        margin-top: 0.3rem;
        padding: 0 1rem;

        @include screen-large {
          font-size: 1.8rem;
          width: MIN(90vw, 50rem);
        }


        &:focus {
          outline: none;
        }
      }

      button {
        margin-top: 5rem;
        border: none;
        padding: 1rem;
        height: 5rem;
        width: 25rem;
        font-size: 2rem;
        background-color: $charcoal;
        color: $platinum;
        cursor: pointer;

        @include screen-large {
          margin-top: 3rem;
          font-size: 1.8rem;
          width: MIN(90vw, 25rem);
        }

        &:hover {
          background-color: $pale-cerulean;
          color: $black-coral;
          border: 2px solid $black-coral;
        }

        &:active {
          transform: translateY(0.5rem);
        }
      }
    }
  }
}
