@import "../global.scss";

.contact {
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    .form-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      label {
        display: flex;
        flex-direction: column;
        justify-content: end;
      }

      label,
      input {
        margin-top: 0.3rem;
        width: 50rem;
        height: 5rem;
        font-size: 2rem;
        color: $charcoal;
      }

      input {
        padding-left: 1rem;

        &:focus {
          outline: none;
        }
      }

      textarea {
        width: 50rem;
        height: 20rem;
        font: inherit;
        font-size: 2rem;
        color: $charcoal;
        margin-top: 0.3rem;
        padding: 0 1rem;

        &:focus {
          outline: none;
        }
      }

      button {
        margin-top: 5rem;
        border: none;
        padding: 1rem;
        height: 5rem;
        width: 25rem;
        //border-radius: 10% / 50%;
        font-size: 2rem;
        background-color: $charcoal;
        color: $platinum;
        cursor: pointer;

        &:hover {
          background-color: $black-coral;
        }

        &:active {
          transform: translateY(0.5rem);
        }
      }
    }
  }
}
