@import "../global.scss";

.navbar {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  .container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 20;
    background-color: $black-coral;

    .hamburger {
      z-index: 10;

      span {
        transition: all 0.3s ease-out;
      }

      display: none;

      @include screen-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(calc((100vw / 2 * -1) + 1.9rem), 0.5rem);
        cursor: pointer;
        
      }  

      > * {
        height: 0.3rem;
        width: 3.5rem;
        margin-bottom: 1rem;
        background-color: $pale-cerulean;
      }
    }

    .hamburger.active {

      span {
        transition: all 0.3s ease-out;
        height: 0.3rem;
        width: 3.5rem;
      }

      .line-1 {
        transform: rotate(225deg) translate(-1rem, -.9rem);
      }

      .line-2 {
        opacity: 0;
        
      }

      .line-3 {
        transform: rotate(-225deg) translate(-1rem, .8rem);
      }
    }

    .links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;

      @include screen-medium {
        display: none;
      } 

      li {
        margin-right: 3rem;
        font-size: 3rem;
        font-family: 'Cabin', sans-serif;
        font-weight: 900;

        a {
          text-decoration: none;
          color: $pale-cerulean;

          &:hover {
            color: $cerulean-frost;
          }
        }
      }
    }
  }
  .dropdown.inactive {
    position: absolute;
    width: 100%;
    background-color: $pale-cerulean;
    transform: translateY(-100rem);
    transition: all ease-out 0.5s;
    height: $dropdown-height;
    z-index: 1;

    .dropdown-links {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      font-size: 3rem;
      // font-family: "CodeProNormal", sans-serif;
      
      .link {
        text-decoration: none;
        color: $black-coral;
      }
    
    }
  }

  .dropdown.active {
    transform: translateY(0);
    background-color: $pale-cerulean;
    height: $dropdown-height;
    transition: all ease-out 0.5s;
    z-index: 1;    

    .dropdown-links {
      
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      font-size: 3rem;
      font-family: 'Cabin', sans-serif;
      font-weight: 900;

      
      
      .link {
        text-decoration: none;
        color: $black-coral;

        &:hover {
          color: $charcoal;
        }
      }
    
    }
  }
  
}
