@import "../global.scss";

.projects {
  background-color: lightyellow;

  .container {
    height: 100%;
    width: 100%;
    display: flex;

    @include screen-medium {
      flex-direction: column;
    }

    .selector {
      height: 100%;
      flex: 1;

      @include screen-medium {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }

      .projects-med {
        display: none;

        @include screen-medium {
          display: flex;
          margin: 0 1rem;
          font-size: 5rem;
          font-weight: 600;
          letter-spacing: -0.6rem;
          color: $charcoal;
        }
      }

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include screen-medium {
          flex-direction: row;
          flex-wrap: wrap;
        }

        li {
          width: 20rem;
          height: 4rem;
          padding: 1rem;
          margin: 2rem;
          list-style: none;
          text-align: center;
          font-size: 1.7rem;
          color: $charcoal;
          position: relative;

          @include screen-large {
            width: 10rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @include screen-medium {
            font-size: 1.5rem;
            margin: 0.5rem;
            height: 4.5rem;
            width: 8rem;
          }

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: white;
            background-color: $cerulean-frost;
            // border-radius: 10% / 50%;
          }
        }
      }
    }

    .display {
      flex: 6;
      display: flex;

      @include screen-sixhundred {
        flex-direction: column-reverse;
      }

      .images {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5rem;
        max-height:fit-content;

        @include screen-xlarge {
          margin-left: 3rem;
        }

        @include screen-large {
          margin-left: 1rem;
        }

        .projects {
          font-size: 7rem;
          font-weight: 600;
          letter-spacing: -0.8rem;
          color: $charcoal;
          margin-bottom: 4rem;

          @include screen-xlarge {
            font-size: 6rem;
          }
          @include screen-large {
            font-size: 5rem;
            letter-spacing: -0.6rem;
          }
          @include screen-medium {
            display: none;
          }
        }

        img {
          height: 33rem;
          width: 53rem;
          //width: 100%;
          box-shadow: rgba(0, 0, 0, 0.44) 0 0.3rem 1rem;
          object-fit: cover;

          @include screen-mammoth {
            height: 30rem;
            width: 48rem;
          }

          @include screen-xlarge {
            height: 26rem;
            width: 36rem;
          }

          @include screen-medium {
            height: 22rem;
            width: 30rem;
          }

          @include screen-sixhundred {
            height: 20rem;
            width: 26rem;
            transform: translateY(-4rem);
          }
        }

        .buttons {
          margin-top: 3rem;

          @include screen-medium {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
          }

          @include screen-sixhundred {
            flex-direction: row;
          }

          button {
            border: none;
            margin: 3rem;
            height: 5rem;
            width: 15rem;
            font-family: "Secular One", sans-serif;
            font-size: 2rem;
            background-color: $charcoal;
            color: $platinum;

            @include screen-mammoth {
              margin: 2rem;
              font-size: 1.8rem;
              width: 12rem;
            }

            @include screen-medium {
              margin: 1rem;
            }

            cursor: pointer;

            &:hover {
              background-color: $pale-cerulean;
              color: $black-coral;
              border: 0.2rem solid $black-coral;
            }

            &:active {
              transform: translateY(0.2rem);
            }
          }
        }
      }

      .description {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 5rem;
        color: $charcoal;

        @include screen-large {
          margin: 0 1rem 0 4rem;
        }

        @include screen-sixhundred {
          margin: 5rem 1rem 0 2rem;
          justify-content: flex-start;
        }

        > * {
          margin: 2.5rem 0rem;

          @include screen-large {
            margin: 1.5rem 0;
          }
        }

        h1 {
          font-size: 4rem;
          font-weight: 700;
          color: $charcoal;

          @include screen-mammoth {
            font-size: 3.5rem;
          }

          @include screen-large {
            font-size: 3.2rem;
          }

          @include screen-sixhundred {
            font-size: 2.5rem;
          }
        }

        h3 {
          font-size: 2.5rem;
          color: $charcoal;

          @include screen-mammoth {
            font-size: 2.2rem;
          }

          @include screen-large {
            font-size: 2rem;
          }

          @include screen-sixhundred {
            font-size: 1.8rem;
          }
        }

        p {
          font-size: 1.5rem;

          @include screen-large {
            font-size: 1.4rem;
          }
          @include screen-sixhundred {
            display: none;
          }

        }

        .skill-icon-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $black-coral;

          @include screen-large {
            flex-wrap: wrap;
          }

          @include screen-sixhundred {
            margin-top: -2rem;
            justify-content: flex-start;
          }


          > * {
            font-size: 3rem;
            margin: 1.5rem;           

            @include screen-large {
              font-size: 2.5rem;
              margin: 1rem;
            }

            @include screen-sixhundred {
              margin: 0 1.5rem 1.5rem 0;
            }

          }
        }
      }
    }
  }
}
