@import "../global.scss";

.projects {
  background-color: lightyellow;

  .container {
    height: 100%;
    width: 100%;
    display: flex;

    .selector {
      height: 100%;
      flex: 1;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          width: 20rem;
          height: 4rem;
          padding: 1rem;
          margin: 2rem;
          list-style: none;
          text-align: center;
          font-size: 1.7rem;
          color: $charcoal;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: white;
            background-color: $cerulean-frost;
            border-radius: 10% / 50%;
          }
        }
      }
    }

    .display {
      flex: 4;
      display: flex;

      .images {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 5rem;

        img {
          height: 33rem;
          width: 53rem;
          box-shadow: rgba(0, 0, 0, 0.44) 0 0.3rem 1rem;
        }

        .buttons {
          margin-top: 3rem;

          button {
            border: none;
            margin: 3rem;
            height: 5rem;
            width: 10rem;
            font-family: "Secular One", sans-serif;
            font-size: 2rem;
            background-color: $charcoal;
            color: $platinum;

            cursor: pointer;

            &:hover {
              background-color: $pale-cerulean;
              color: $black-coral;
              border: 0.2rem solid $black-coral;
            }

            &:active {
              transform: translateY(0.2rem);
            }
          }
        }
      }

      .description {
        flex: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10rem;
      }
    }
  }
}
