@import "../global.scss";

.projects {
  background-color: lightyellow;

  .container {
    height: 100%;
    width: 100%;
    display: flex;

    .selector {
      height: 100%;
      flex: 1;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          width: 30%;
          padding: 1rem;
          margin: 2rem;
          list-style: none;
          text-align: center;
          font-size: 1.7rem;
          color: $charcoal;
          z-index: 3;

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: $platinum;
            background-color: $black-coral;
            border-radius: 20%;
          }
        }
      }
    }

    .display {
      flex: 4;
      display: flex;

      .images {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        img {
          height: 30rem;
          width: 50rem;
        }
      }

      .description {
        flex: 2;
      }
    }
  }
}
