@import "../global.scss";

.projects {
  background-color: lightyellow;

  .container {
    height: 100%;
    width: 100%;
    display: flex;

    .selector {
      height: 100%;
      flex: 1;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          width: 30%;
          padding: 1rem;
          margin: 2rem;
          list-style: none;
          text-align: center;
          font-size: 1.7rem;
          color: $charcoal;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          // &::before {
          //   content: "";
          //   position: absolute;
          //   height: 2rem;
          //   width: 2rem;
          //   left: 2rem;
          //   background-color: orangered;
          // }

          &.active {
            color: $platinum;
            background-color: $black-coral;
            border-radius: 10%;
          }
        }
      }
    }

    .display {
      flex: 4;
      display: flex;

      .images {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 5rem;

        img {
          height: 30rem;
          width: 48rem;
        }

        .buttons {
          margin-top: -10rem;

          button {
            border: none;
            margin: 3rem;
            height: 5rem;
            width: 10rem;
            font-family: "Secular One", sans-serif;
            font-size: 2rem;
            border-radius: 10%;
          }
        }
      }

      .description {
        flex: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10rem;
      }
    }
  }
}
