@import "../global.scss";

.skills {
  display: flex;
  align-items: center;
  justify-content: center;

  .icons {
    height: 100%;
    width: 70%;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .icon-block {
      height: 10rem;
      width: 30rem;
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        border: 1px solid $black-coral;

        &.active {
          border: none;
        }
      }

      i {
        color: black;
        font-size: 8rem;
        transition: all 0.3s ease-out;

        &.active {
          color: white;
        }
      }

      p {
        font-family: "Secular One", sans-serif;
        font-size: 2.5rem;
        margin-left: 3rem;
        transition: all 0.3s ease-out;

        &.active {
          color: white;
        }
      }
    }
  }

  .details {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    .terminal {
      height: 60%;
      width: 80%;
      background-color: rgb(51, 51, 51);
      padding: 1rem;
      border-radius: 5%;

      p {
        font-family: "Press Start 2P", cursive;
        font-size: 1.5rem;
        color: white;
        display: flex;
      }

      .cursor {
        display: none;

        &.active {
          display: block;
          color: white;
          font-size: 2rem;
          transform: translateY(-0.1rem);
          animation-name: cursor;
          animation-duration: 1.2s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

@keyframes cursor {
  10% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
