@import "./global.scss";

.components {
  position: relative;
  top: calc(#{$navbar-height});  

  > * {
    height: $component-height;

    @include screen-small {
      height: auto;
    }
  }

  
}
