$xlarge-width: 1200px;
$large-width: 1000px;
$medium-width: 760px;
$small-width: 350px;

@mixin screen-xlarge {
  @media (max-width: #{$xlarge-width}) {
    @content;
  }
}

@mixin screen-large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin screen-medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin screen-small {
  @media (max-width: #{$small-width}) {
    @content;
  }
}

/* SCSS HEX */
$black-coral: #4e5a60ff;
$pale-cerulean: #a4c5deff;
$cerulean-frost: #649cc6ff;
$charcoal: #303a46ff;
$platinum: #ebe6e6ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-right: linear-gradient(
  90deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-left: linear-gradient(
  270deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);
$gradient-radial: radial-gradient(
  #4e5a60ff,
  #a4c5deff,
  #649cc6ff,
  #303a46ff,
  #ebe6e6ff
);

$navbar-height: 8rem;
$component-height: calc(100vh - 3 * #{$navbar-height});

@font-face {
  font-family: "Circus";
  src: url("../public/fonts/TheCircous.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CircusStriped";
  src: url("../public/fonts/TheCircousStriped.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GilamBold";
  src: url("../public/fonts/Gilam-Trial-Bold.otf") format("opentype"),
    url("../public/fonts/Gilam-Trial-Bold.ttf") format("truetype"),
    url("../public/fonts/Gilam-Trial-Bold.woff") format("woff"),
    url("../public/fonts/Gilam-Trial-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CodeProNormal";
  src: url("../public/fonts/CodePro-Trial-Normal.otf") format("opentype"),
    url("../public/fonts/CodePro-Trial-Normal.ttf") format("truetype"),
    url("../public/fonts/CodePro-Trial-Normal.woff") format("woff"),
    url("../public/fonts/CodePro-Trial-Normal.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CodeProBold";
  src: url("../public/fonts/CodePro-Trial-Bold.otf") format("opentype"),
    url("../public/fonts/CodePro-Trial-Bold.ttf") format("truetype"),
    url("../public/fonts/CodePro-Trial-Bold.woff") format("woff"),
    url("../public/fonts/CodePro-Trial-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
